body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
    column-gap:100px;
}
.image img{
    max-height:550px;
    min-width:500px;
    margin-left: 20px;
}
.container-main{
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    padding-right: 80px;
}
.logo img{
    width:130px;
    height:130px;
}
.logo{
    margin:0;
    padding-bottom: 20px;

}
.image{
    margin:0;
    padding:0;
    border-radius: 20px;
    padding-right:50px;
}
.container{
    width: 350px;
    height: 425px;
    padding-bottom:120px;
}

#flip-toggle{
    display:none;
}
.card{
    
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition: transform 0.8s ease;
}

#flip-toggle:checked ~ .card{
    transform: rotateY(180deg);
}

.card:hover{
   
    
    box-shadow: 0px 0px 7px #465667;
}
.side {
    width:100%;
    height:100%;
    position:absolute;
    backface-visibility: hidden;
    /* box-shadow: 0 4px 20px 15px rgba(0, 0, 0, 0.2); */
    
    box-shadow: 0px 0px 5px #465667;
    border-radius: 10px;
    padding: 30px;
    background: white;
    box-sizing: border-box;
    /* background-color:#d4edf2; */
}
.side h2 {
    margin-bottom: 20px;
    margin-top:0px;
    font-size:35px;
    position:relative;
}
.card:hover h2{
    font-size:36px;
}
.side input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size:15px;
    background:transparent;
    box-shadow: 2px 3px 4px grey;
    border:none;
    text-align:50px;
    position:relative;
    padding-left:40px;
}
.inputfield .fa-solid{
    position:absolute;
    padding:10px;
}
.side p{
    margin-top:-10px;
    margin-left:175px;
    color:  #007bff;
    cursor: pointer;
}
p:active{
    color:red;
}
.side button {
    cursor: pointer;
    margin-top:5px;
    width:100%;
    height: 35px;
    font-size:16px;
    border-radius:100px;
    border:1px solid black;
    background-color: #007bff;

}
button:active{
    
    background-color: #0d66c6;
}
.side label {
    display: block;
    margin-top: 20px;
    color: #6f42c1;
    cursor: pointer;
    font-size:20px;
}
label:active{
    color:red;
}

#back {
    transform: rotateY(180deg);
}
button a{
    text-decoration: none;
    color: white;
}

input:focus,input:focus-visible{
    outline: none;
}